
.authority {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.authority .content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 0;
}

.authority-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}
.text-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.text-block .topline__header {
    font-size: 28px;
    margin-bottom: 12px;
}
.text-block .topline__header:last-child {
    margin-bottom: 0px;
}


.contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
    padding: 5px;
}

.partners-block {
    max-width: 49%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.partners__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.partners__item {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.partners__link {
    width: min-content;
    display: block;
    font: 16px/1.22 "RobotoLight";
    text-transform: uppercase;
    color: #2c2c2c;
    opacity: .75;
    transition: .5s all;
    border: 1px solid #3f5da5;
    border-radius: 4px;
}

.partners__link.partners__link-min {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    max-width: 345px;

}

.partners__link:hover {
    opacity: 1;
}

.partners__item-imgs .partners__link {
    min-width: 270px;
    width: 345px;
}

.partners__img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}
    

.contact__heading {
    font: 18px/1.22 "RobotoLight";
    font-weight: bold;
    margin-bottom: 16px;
}

.contact__text {
    font: 16px/1.22 "RobotoLight";
    white-space: nowrap;
    margin-bottom: 4px;
}

.about-us-link {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

#archives-dropdown-2 {
    width: 100%;
    padding: 5px;
    border-color: #3f5da5;
    font: 14px/1.22 "RobotoLight";
    color: #2C2C2C;
    text-align: center;
    text-transform: uppercase;
    margin-top: 8px;
}

#archives-dropdown-2 option {
    text-align: center;
}

.map-block {
    margin-left: 8px;
    max-width: 50%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #3f5da5;
    overflow: hidden;
}

.map-block iframe {
    width: 100%;
    max-height: 200px;
}


.widgettitle {
    display: none;
}

.widget.widget_archive{
    list-style: none;
}


@media only screen and (max-width: 1040px) {
    .partners-block {
        margin-top: 10px;
    }

    .partners__item-min .partners__link-min {
        margin-right: unset;
    }

}
@media only screen and (max-width: 640px) {
    .partners__list {
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .partners__item-imgs .partners__item-imgs {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .partners__item-imgs .partners__link {
            width: 100%;
    }
    .partners__link img {
            height: 75px;
    }
}

@media only screen and (max-width: 640px) {
    

}