.page-header {
    background-color: #f9f9f9;
}

.page-header .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-header .header__logo {
    width: 190px;
    height: 70px;
}

.page-header .header__logo .logo__img {
    width: 100%;
    height: 100%;
}

.page-header .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.page-header .header__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1px;
}

.page-header .sfsi_widget.sfsi_shortcode_container {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 10px;
}

.search-live {
    width: 250px;
}

.search-live-results {
    display: none !important;
}

.page-header .search-live-form {
    display: flex !important;
    position: default !important;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    height: 90px;
    background-image: url("assets/img/nova-img/bullet-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.page-header .search-live-field {
    display: block;
    max-width: 130px;
    width: 100%;
    height: 20px;
    padding: 2px 9px;
    margin-right: 16px !important;
    -webkit-border-radius: 16px;
    border-radius: 6px;
    border: 1px solid #3F5DA5;
    font: 14px/1.1 "RobotoLight";
    -webkit-transition: .5s all;
    transition: .5s all;
    color: #3f5da5;
}

.page-header .search-live-field::-webkit-input-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field::-moz-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field:-ms-input-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field:-moz-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}


.page-header .header__nav--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 8px;
}

.page-header .nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.page-header .nav__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 14px 7px 7px;
    -webkit-transition: .25s all;
    transition: .25s all;
}

.page-header .nav__item:last-child:after {
    display: none;
}

.page-header .nav__item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #2C2C2C;
    display: none;
}

.page-header .nav__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #3f5da5;
    -webkit-transition: .25s all;
    transition: .25s all;
    border-radius: 4px;
    opacity: 0;
    z-index: 0;
}

.page-header .nav__item:hover .nav__link, .page-header .nav__item.active .nav__link {
    color: #ffffff;
}

.page-header .nav__item:hover:before, .page-header .nav__item.active:before {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    opacity: 1;
}

.page-header .nav__link {
    position: relative;
    z-index: 20;
    display: block;
    font: 18px/1.22 "RobotoLight";
    letter-spacing: .04em;
    color: #2C2C2C;
    -webkit-transition: .5s all;
    transition: .5s all;
    text-transform: uppercase;
}

.page-header .nav__open {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 32px;
    -webkit-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
    display: none;
}

.nav__open.opened:after {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav__open.opened:before {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav__open.opened span {
    left: -30px;
    opacity: 0;
}

.nav__open:after, .nav__open:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    -webkit-transition: .25s all;
    transition: .25s all;
}

.nav__open:after {
    top: 7px;
}

.nav__open:before {
    bottom: 7px;
}

.nav__open span {
    display: block;
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 1px;
    background-color: #000;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.header__nav.header__nav--mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 80px;
    left: 0;
    background-color: #f9f9f9;
    z-index: -99;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .5s all;
    transition: .5s all;
    opacity: 0;
}

.header__nav.header__nav--mobile.opened {
    z-index: 99;
    max-height: 100vh;
    opacity: 1;
}

.header__nav.header__nav--mobile .nav__list {
    margin-top: -72px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav.header__nav--mobile .nav__item {
    margin-bottom: 8px;
}

.header__nav.header__nav--mobile .nav__item:last-child {
    margin-bottom: 0;
}

.header__nav.header__nav--mobile .nav__item:after {
    display: none;
}

.header__nav.header__nav--mobile .nav__link {
    font-size: 36px;
    text-align: center;
}

.sfsiplus_footerLnk {
    display: none !important;
}


@media only screen and (max-width: 1140px) {
    .header__search .search__input {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1095px) {
    .page-header .header__nav--desktop {
        display: none;
    }

    .page-header .header__search {
        margin-left: auto;
    }

    .page-header .nav__open {
        display: block;
    }

    .page-header .nav__open.opened {
        z-index: 10000;
    }
}

@media only screen and (max-width: 768px) {

    .page-header .content {
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .page-header .header__search {
        margin-left: 0;
    }
}