.page-main {
    padding-bottom: 48px;
}

.main__topline {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    border: 1px solid #3F5DA5;
    margin-bottom: 16px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.main__topline:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 40px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #fff 0%, #3F5DA5 50%, #fff 100%);
}

.topline__block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: -webkit-calc(100% / 3);
    max-width: calc(100% / 3);
    width: 100%;
    padding: 8px;
}

.topline__block:last-child:after {
    display: none;
}

.topline__block:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #3f5da5;
}

.topline__header {
    font: 18px/1.22 "RobotoLight";
    font-weight: bold;
    color: #3f5da5;
    text-align: center;
}

.topline__header a {
    color: #3f5da5;
}

.topline__header a:visited {
   color: #3f5da5;
}

.topline__carousel-container {
    width: 100%;
}

.carousel__controls {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: auto;
    padding-top: 1px;
}

.controls__all-posts {
    margin: 0px 16px;
}

.controls__prev,
.controls__next {
    display: block;
    width: 20px;
    height: 20px;
    opacity: .7;
    -webkit-transition: .25s all;
    transition: .25s all;
    background-image: url("../img/svg-icons/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.controls__prev:hover,
.controls__next:hover {
    opacity: 1;
}

.controls__next {
    background-image: url("../img/svg-icons/right-arrow.svg");
}

.topline__post-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.topline__post-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .25s all;
    transition: .25s all;
    background-color: rgba(255, 255, 255, 0.7);
}

.topline__post-wrapper:hover:after {
    opacity: 1;
}

.topline__post-wrapper:hover .post__link {
    opacity: 1;
    z-index: 10;
}

.topline__post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.post__link {
    display: block;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.post__heading {
    display: block;
    font: 16px/1.22 "RobotoBold";
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2C2C2C;
}

.topline__post-wrapper .post__heading a {
    display: block;
    font: 15px/1.22 "RobotoBold";
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2C2C2C;
}

.post__description {
    font: 16px/1.22 "RobotoLight";
    text-align: justify;
    color: #2C2C2C;
}

.main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: stretch;
}

.page-main .html5video-medium-12 .video_image_frame {
    max-height: 165px;
}


.main__column {
    min-width: 550px;
    width: 100%;
    max-width: calc(100%/3*2);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 30px;
    padding-bottom: 24px;
    border: 1px solid #3F5DA5;
    background-color: #fff;
}

.main__column .topline__header {
    text-align: left;
    text-transform: uppercase;
    padding: 16px;
    font-size: 24px;
}

.news-feed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.post__list {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.news__post {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 24px 16px;
}

.news__post:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#3F5DA5));
    background-image: linear-gradient(to right, #fff, #3F5DA5);
}

.news__post:last-child:after {
    display: none;
}

.post__title {
    font: 18px/1.22 "RobotoRegular";
    color: #494949;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    -webkit-transition: .25s all;
    transition: .25s all;
}

.post__title:hover {
    color: #000;
}

.post__title a {
    width: 100%;
    display: block;
    text-align: justify;
}

.post-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.post__preview {
    max-width: 200px;
    max-height: 190px;
    -o-object-fit: cover;
    object-fit: cover;
}

.post__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 24px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.post__controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
}

.post__controls .post__read-more {
    margin-right: auto;
}

.share-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
    min-height: 24px;
}

.share__link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: .5s all;
    transition: .5s all;
    padding-left: 24px;
    margin-right: 4px;
}

.share__link:last-child {
    margin-right: 0;
}

.share__link:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/svg-icons/facebook.svg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.share__link:hover:after {
    opacity: .7;
}

.share__link:hover .link__text {
    max-width: 130px;
    padding: 0px 4px;
}

.link__text {
    max-width: 0;
    overflow: hidden;
    font: 16px/1.22 "RobotoLight";
    -webkit-transition: .5s all;
    transition: .5s all;
    display: none;
}

.share__link--facebook .link__text {
    color: #fff;
    color: #3F5DA5;
}

.share__link--youtube:after {
    background-image: url("../img/svg-icons/youtube.svg");
}

.share__link--youtube .link__text {
    color: #fff;
    color: #C70024;
}

.share__link--googleplus:after {
    background-image: url("../img/svg-icons/google-plus.svg");
}

.share__link--googleplus .link__text {
    color: #fff;
    color: #DD4B39;
}

.share__link--telegram:after {
    background-image: url("../img/svg-icons/telegram.svg");
}

.share__link--telegram .link__text {
    color: #fff;
    color: #61A8DE;
}

.share__link--instagram:after {
    background-image: url("../img/svg-icons/instagram.svg");
}

.share__link--instagram .link__text {
    color: #C21F70;
}

.side__column {
    border: 1px solid #3F5DA5;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.side__column .topline__header {
    text-align: center;
    text-transform: uppercase;
}

.side__block {
    position: relative;
    width: 100%;
    padding: 24px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.side__block:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#3F5DA5));
    background-image: linear-gradient(to right, #fff, #3F5DA5);
}

.side__block:first-child {
    padding-top: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

.side__block:last-child:after {
    display: none;
}

.side__block .topline__header {
    margin-bottom: 16px;
}

.side__block .post-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.side__block .post-wrapper .post__preview {
    max-width: 100%;
    max-height: initial;
}

.video__wrapper {
    max-width: 400px;
    max-height: 250px;
}

.video__wrapper iframe {
    width: 100%;
    height: 100%;
}

.btn--all-video {
    margin-top: 6px;
}

.side__block--news-feed {
    padding: 0;
    padding-top: 16px;
}

.side__block--news-feed .topline__header {
    margin-bottom: 0;
}

.side__block--news-feed .news__post {
    padding: 8px;
    padding-top: 16px;
}

.side__block--news-feed .news__post .post__title h1 {
    font-size: 14px;
    margin-top: 12px;
}

.side__block--news-feed .news__post .post__content {
    margin-left: 8px;
}

.side__block--news-feed .news__post .post__description {
    font-size: 14px;
}

.side__block--news-feed .news__post .post__preview {
    margin-bottom: 8px;
}

.side__block--news-feed .news__post .post__controls {
    margin-top: 16px;
    width: 100%;
}

.topline__carousel-container {
    margin-top: 8px;
}

.topline__post {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.topline__post .topline__img {
    max-width: 150px;
    max-height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.topline__post .post__heading {
    padding-left: 8px;
}


.post__preview {
    max-width: 200px;
    width: 100%;
    max-height: 125px;
}

.post__content {
    margin-left: 12px;
}

.post__controls {
    margin-top: 0;
}

.main__column {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.main__column .post__title {
    text-align: left;
    margin-bottom: 0;
}

.main__column .tag-list > p {
    font-size: 14px;
	color: #767676;
}

.main__column .post__date {
    margin-bottom: 10px;
    font: 12px/1.22 "RobotoLight";
    color: #869791;
    letter-spacing: .1em;
}

.side__column .side__block .post-wrapper {
    width: 270px;
}

.post__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
    margin-top: 8px;
}

.tag_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tag-list span {
    position: relative;
    display: block;
    font: 12px/1.22 "RobotoLight";
    color: #494949;
    letter-spacing: .1em;
    padding-left: 14px;
    padding-right: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.tag-list span:hover {
    color: #000;
    text-decoration: underline;
}

.tag-list span:before {
    content: ',';
    position: absolute;
    right: 0;
    bottom: 0;
}

.tag-list span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url("../img/svg-icons/tag.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-list span:last-child:before {
    display: none;
}

.navigation.pagination .nav-links .page-numbers {
    font: 18px/1.22 "RobotoLight";
    color: #2C2C2C;
    padding: 0px 3px;
    -webkit-transition: .35s all;
    transition: .35s all;
}

.navigation.pagination .nav-links .page-numbers:hover {
    color: #3f5da5;
}

.navigation.pagination .nav-links .page-numbers.current {
    color: #3f5da5;
    font-weight: bold;
}
