.single-page .main__column .topline__header {
	/*text-align: right !important;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
}

.single-page .main__column .post__content iframe {
	max-width: 100%;
	margin-top: 20px;
}

.single-page .main__column .post__content {
	margin-left: 0;
}

.single-page .post-wrapper .post__content p {
	text-indent: 15px
}

.single-page .main__column .topline__header a {
	padding-left: 12px;
    color: black;
    font-size: 22px;
    text-align: center;
}

.single-page .main__column .topline__header img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	width: 140px;
    height: 115px;
    border-radius: 4px;
}

.single-page .main__column .post__content p {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;

}

.single-page .main__column .news__post img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    margin-top: 14px !important;
}


.single-page .topline__header {
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}


.single-page .main__column .topline__header img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	width: 100%;
	height: auto;
	margin-top: 24px;
}

.fb_iframe_widget span
{
	width: 100% !important;
}

@media only screen and (max-width: 480px) {
	.single-page .main__column .topline__header a {
	    font-size: 18px;
	    text-align: left;
	}
}