/*
Theme Name: novatheme 
*/


@font-face {
    font-family: "RobotoRegular";
    src: url("assets/fonts/RobotoRegular/RobotoRegular.eot");
    src: url("assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("assets/fonts/RobotoLight/RobotoLight.eot");
    src: url("assets/fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoLight/RobotoLight.woff") format("woff"), url("assets/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("assets/fonts/RobotoMedium/RobotoMedium.eot");
    src: url("assets/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("assets/fonts/RobotoBold/RobotoBold.eot");
    src: url("assets/fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoBold/RobotoBold.woff") format("woff"), url("assets/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("assets/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("assets/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("assets/fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedLight";
    src: url("assets/fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("assets/fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("assets/fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedBold";
    src: url("assets/fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("assets/fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("assets/fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    color: #fff !important;
}

form {
    -moz-placeholder-font: 18px/1 'RobotoRegular';
    -moz-placeholder-color: #fff;
    -ms-input-placeholder-font: 18px/1 'RobotoRegular';
    -ms-input-placeholder-color: #fff;
}

form ::-webkit-input-placeholder {
    font: 18px/1 'RobotoRegular';
    color: #fff;
}

form ::-moz-placeholder {
    font: 18px/1 'RobotoRegular';
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'RobotoRegular', sans-serif;
    background-image: url("assets/img/backgrounds/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body.ovy-hidden {
    overflow-y: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

textarea {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
}

.content {
    max-width: 1280px;
    width: 100%;
    padding: 16px 40px;
    margin: 0px auto;
}

.btn {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px 10px 2px;
    border: 1px solid #3f5da5;
    font: 14px/1.22 "RobotoLight";
    color: #2C2C2C;
    background-color: #fff;
    -webkit-transition: .25s all;
    transition: .25s all;
    border-radius: 4px;
}

.btn:hover {
    background-color: #3f5da5;
    color: #FFFFFF;
}

.authority {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px;
    background-color: #fff;
}

.authority .authority__text {
    font: 14px/1.22 "RobotoLight";
}

.authority .authority__link {
    text-transform: uppercase;
    color: #3F5DA5;
}

.btn-variant {
    position: fixed;
    left: 10px;
    top: 30px;
    z-index: 999;
}

.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #f9f9f9;
}


.pagination-block {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.page-header .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-header .header__logo {
    width: 210px;
    height: 75px;
}

.page-header .header__logo .logo__img {
    width: 100%;
    height: 100%;
}

.page-header .search-live-form {
    display: flex !important;
    position: default !important;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    height: 90px;
    background-image: url("assets/img/nova-img/bullet-img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.page-header .search-live-field {
    display: block;
    max-width: 130px;
    width: 100%;
    height: 20px;
    padding: 2px 9px;
    margin-right: 16px !important;
    -webkit-border-radius: 16px;
    border-radius: 6px;
    border: 1px solid #3F5DA5;
    font: 14px/1.1 "RobotoLight";
    -webkit-transition: .5s all;
    transition: .5s all;
    color: #3f5da5;
}

.page-header .search-live-field::-webkit-input-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field::-moz-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field:-ms-input-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}

.page-header .search-live-field:-moz-placeholder {
    color: rgba(63, 93, 165, 0.51);
    font: 14px/1.1 "RobotoLight";
}



.main__column .text-block {
    padding-left: 24px;

}

.main__column .text-block .contact__text {
    font-size: 18px;
}


.nav__open {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 32px;
    -webkit-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}

.nav__open.opened:after {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav__open.opened:before {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav__open.opened span {
    left: -30px;
    opacity: 0;
}

.nav__open:after, .nav__open:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    -webkit-transition: .25s all;
    transition: .25s all;
}

.nav__open:after {
    top: 7px;
}

.nav__open:before {
    bottom: 7px;
}

.nav__open span {
    display: block;
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 1px;
    background-color: #000;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.side__column .eventPreview-img {
    width: 100%;
    max-width: 369px;
    height: 370px;
	border-radius: 8px 8px 0 0;
}

.header__nav.header__nav--mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 100px;
    left: 0;
    background-color: #f9f9f9;
    z-index: -99;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .5s all;
    transition: .5s all;
    opacity: 0;
}

.page-main,
.page-video {
    margin-top: 100px;
}

.header__nav.header__nav--mobile.opened {
    z-index: 99;
    max-height: calc(100vh - 100px);
    opacity: 1;
}

.header__nav.header__nav--mobile .nav__list {
    margin-top: -72px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav.header__nav--mobile .nav__item {
    margin-bottom: 8px;
}

.header__nav.header__nav--mobile .nav__item:last-child {
    margin-bottom: 0;
}

.header__nav.header__nav--mobile .nav__item:after {
    display: none;
}

.header__nav.header__nav--mobile .nav__link {
    font-size: 36px;
    text-align: center;
}



@media only screen and (max-width: 1140px) {
    .header__search .search-live-field {
        margin-right: 0;
    }
}

.authority {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.authority .content {
    padding-bottom: 0;
    padding-top: 0;
}

.authority-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
    padding: 5px;
}


.contact__heading {
    font: 18px/1.22 "RobotoLight";
    font-weight: bold;
    margin-bottom: 16px;
}

.contact__text {
    font: 16px/1.22 "RobotoLight";
    white-space: nowrap;
    margin-bottom: 4px;
}

.contact__link {
    white-space: pre-wrap;
}

.about-us-link {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.archieve-select,
.widget_archive select[name="archive-dropdown"] {
    max-height: 32px; /*я не хотел этого делать :(( */
    width: 100%;
    padding: 5px;
    border-color: #3f5da5;
    font: 12px/1.22 "RobotoLight";
    color: #2C2C2C;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    border-radius: 4px;
    /*border-left: none;
    border-right: none;*/
}
.archieve-select option,
.widget_archive select[name="archive-dropdown"] option {
    text-align: center;
}

.map-block {
    margin: 0 auto;
    margin-top: 24px;
    max-width: 85%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #3f5da5;
    overflow: hidden;
}

.map-block iframe {
    width: 100%;
    min-height: 250px;
    height: 100%;
}

@media only screen and (max-width: 1040px) {
    .content {
        padding: 16px 12px;
    }

    .authority .map-block {
        flex-grow: 1;
        max-width: 100%;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 950px) {
    

    .main-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main-wrapper .main__column {
        min-width: initial;
        max-width: initial;
        margin-right: 0;
        margin-top: 48px;
    }

    .main-wrapper .side__column {
        max-width: initial;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main-wrapper .side__block:after {
        width: 1px;
        height: 100%;
        left: 100%;
    }

    .side__block--news-feed {
        padding-left: 10px;
        padding-bottom: 16px;
    }

    .side__block--news-feed .post__list {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .side__block--news-feed .post__list .news__post {
        padding-left: 16px;
        padding-right: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .side__block--news-feed .post__list .news__post .post__title {
        text-align: justify;
        margin-bottom: 0;
    }

    .side__block--news-feed .post__list .post-wrapper {
        max-width: 140px;
        min-width: 140px;
        max-height: 100px;
        width: 100%;
        overflow: hidden;
        margin-right: 16px;
    }

    .side__block--news-feed .post__list .post__preview {
        max-width: initial;
        min-width: 100%;
        margin-bottom: 0;
    }

    .side__block--video {
        min-width: 320px;
    }

    .topline__post-wrapper .post__heading a {
        font-size: 13px;
    }
}


@media only screen and (max-width: 768px) {

    .page-main .content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-align-items: center;
        align-items: center;
    }

    .page-main,
    .page-video {
        margin-top: 230px;
    }

    .page-main .main-wrapper {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .page-main .main__topline  {
        margin-bottom: 0;
        margin-top: 24px;
    }

    .main-wrapper .main__column {
        margin-top: 0;
        margin-bottom: 48px;
    }


    .main__topline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main__topline .topline__block {
        max-width: initial;
        padding-bottom: 16px;
    }

    .main__topline .topline__block:after {
        width: 100%;
        height: 1px;
        top: 100%;
    }

    .main__topline .topline__post-wrapper {
        padding: 8px;
    }

    .topline__post .post__heading {
        font-size: 12px;

    }
}

@media only screen and (max-width: 940px) {
    .content {
        padding-left: 8px;
        padding-right: 8px;
    }

    .page-header .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main__topline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main__topline:after {
        display: none;
    }

    .main__topline .topline__block {
        max-width: initial;
    }

    .main__topline .topline__block .topline__post-wrapper {
        width: 100%;
    }

    .main__topline .topline__block .topline__post .post__heading {
        font-size: 12px;
    }

    .topline__block:after {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 1px;

    }

    .main__column {
        min-width: initial;
    }

    .side__column .side__block--video:after {
        width: 100%;
        height: 1px;
        left: 0;
    }

    .main-wrapper .side__block:after {
        width: 100%;
        height: 1px;
        left: 0;
    }

    .news__post {
        padding: 12px 8px;
    }

    .news__post:after {
        display: block;
    }

    .news__post .post__preview {
        min-width: 120px;
        max-width: 120px;
        max-height: 80px;
    }

    .news__post .post__title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .news__post .post__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .news__post .post__date {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .news__post .post__controls {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .news__post .post__read-more {
        width: 100%;
        text-align: center;
    }

    .news__post .share-list {
        margin-left: 0;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 550px) {
    .authority .content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .authority .partners-block {
        max-width: 100%;
        justify-content: center;
    }

    .authority .contact-block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
    }

    .contact-block .text-block {
        -ms-align-items: center;
        align-items: center;
    }

    .contact-block .map-block {
        margin-left: 0;
        margin-top: 14px;
    }

    .main__column .main-select-wrapper {
        justify-content: center;
        padding-bottom: 16px;
    }

    .main-select-wrapper .topline__header {
        margin-right: 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .topline__post-wrapper .topline__post img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
        width: 80px;
    }

    .main__column .new__post:after {
        display: block;
    }

}

@media only screen and (max-width: 500px) {

    .page-header .content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .page-header .header__search {
        margin-left: 0;
    }

}


@media only screen and (max-width: 480px) {
    .header__nav.header__nav--mobile .nav__link {
        font-size: 28px;
    }

    .page-header .header__logo {
        width: 190px;
    }

    .main__topline .topline__block .topline__post .post__heading {
        font-size: 16px;
    }

    .header__search {
        order: 0;
        margin-left: 0;
        width: 100%;
        margin-top: 8px;
    }

    .page-header .nav__open {
        margin-left: 0;
    }

    .news-feed .post-wrapper img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
        width: 150px;
        height: 110px;
     }

    .news-feed .post-wrapper .post__content {
        margin-top: 0;
        padding-top: 0;
    }

    .side__column .post-wrapper {
        -ms-align-items: center;
        align-items: center;
    }

    .post-wrapper .post__preview {
        max-width: 100%;
        max-height: 200px;
    }

    .post-wrapper .post__info {
        margin-bottom: 8px;
    }

    .post-wrapper .post__content {
        margin-left: 0;
        margin-top: 8px;
    }

    .post-wrapper .post__content .post__title {
        margin-bottom: 8px;
    }

 
}

.at-below-post.addthis_tool {
    margin-top: 12px;
}

.widget_media_video {
    list-style: none;
}

.widget_search_live_widget {
    list-style: none;
}

.nav-links {
    padding-top: 8px;
    margin: 0 auto;
}

.navigation.pagination {
    display: flex;
    justify-content: center;
}

.screen-reader-text {
    display: none;
}

/* заглушка */

.topline__post-wrapper img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 105px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
}



img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 230px;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}

.news__post .post__content {
    padding: 10px;
}

.news__post .post__content > div:first-child p:first-letter {
    padding-left: 10px;
}


.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none;
}

#a2a_share_save_widget-2 {
    list-style: none;
}

#a2a_follow_widget-2 {
    list-style: none;
}

.main__column > .topline__header,
.side__column .side__block--video > .topline__header,
.side__block.side__block--subscription .topline__header {
    font-size: 25px;
}

.topline__post .post__heading {
    padding: 6px 13px;
    margin: 0
}


.owl-item.active {
    height: 100%;
}

.topline__post-wrapper {
    height: 100% !important;
}

.mejs-container.wp-video-shortcode.mejs-video,
.mejs-container.wp-video-shortcode.mejs-video iframe {
    width: 320px !important;
}

.main-select-wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-partners .wp-block-media-text__media {
    margin-left: 16px;

}

.page-partners .wp-block-media-text__media img{
    border-radius: 4px;
}

.page-partners .wp-block-media-text__content {

}

.wp-block-media-text__media img{
    width: 210px;
    height: 140px;
    object-fit: cover;
    border-style: 4px;
}


.main-select-wrapper .topline__header {
    margin-right: 10px;
}

.main-select-wrapper .archieve-select,
.main-select-wrapper select[name="archive-dropdown"] {
    margin-right: 16px;
    margin-left: 16px;
    max-width: 320px;
    border-radius: 4px;
}

.main-select-wrapper select[name="archive-dropdown"] {
	margin: 0 auto;
}


.topline__carousel-container {
    height: fit-content;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.owl-carousel .owl-stage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.owl-carousel .owl-stage-outer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 110px;
   /* flex-grow: 1;*/
}

.owl-carousel .owl-dots {
    display: none;
}

#sfsi_plus_floater {
	display: none;
}

.sfsi_Sicons {
    width: fit-content !important; 
}

.sfsi_Sicons > div:first-child {
    display: none;
}

.pageviews-wrapper {
    margin-top: 20px;
    display: inline-block;
}

.sfsi_subscribe_Popinner h5 {
    font: 18px/1.22 "RobotoLight";
    font-weight: bold;
    color: #3f5da5;
    text-align: center;
}

.sfsi_subscription_form_field input[type="email"],
.sfsi_subscription_form_field input[type="submit"]
{
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 20px 9px;
    border: 1px solid #3f5da5;
    font: 16px/1.22 "RobotoLight";
    color: #2C2C2C;
    background-color: #fff;
    -webkit-transition: .25s all;
    transition: .25s all;
    border-radius: 4px;
}

.sfsi_subscription_form_field input[type="email"]:hover,
.sfsi_subscription_form_field input[type="submit"]:hover {
    background-color: #3f5da5;
    color: #FFFFFF;
}

.sfsi_socialwpr > div {
    margin-top: 0 !important; 
}

.watch-action {
    display: none;
    float: unset !important;
}

.side__column .video_image_frame img {
    max-width: 330px;
    height: 175px !important;
}

.sfsi_widget.sfsi_shortcode_container {
    margin-left: 0;
    transform: translate(50px,20px);
}